<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Catlary Kütüphane Yönetim Sistemi</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h4>Catlary Yönetim Sistemine Hoş geldiniz!</h4>

      <div class="giris_kismi">
        <button id="kullaniciGirisBtn">Kullanıcı Girişi</button>
        <button id="adminGirisBtn">Admin Girişi</button>
        <span class="hesap">Hesabın yok mu?</span>
        <button id="hesapAcBtn">Hemen Aç</button>
      </div>
    </div>

    <div class="formlar">
      <!-- Kullanıcı girişi formu -->
      <div id="kullaniciGirisFormu" style="display: none">
        <h4>Kullanıcı Girişi</h4>
        <form action="/girisyap" method="POST">
          <input type="hidden" name="islem" value="kullanici" />
          <input
            type="email"
            name="email"
            placeholder="Email Adresi"
            required
          /><br /><br />
          <input
            type="password"
            name="password"
            placeholder="Şsifre"
            required
          /><br /><br />
          <button type="submit">Giriş Yap</button>
        </form>
      </div>

      <!-- Admin girişi formu -->
      <div id="adminGirisFormu" style="display: none">
        <h4>Admin Girişi</h4>
        <form action="/girisyap" method="POST">
          <input type="hidden" name="islem" value="admin" />
          <input
            type="email"
            name="email"
            placeholder="Email Adresi"
            required
          /><br /><br />
          <input
            type="password"
            name="password"
            placeholder="Şifre"
            required
          /><br /><br />
          <button type="submit">Giriş Yap</button>
        </form>
      </div>

      <!-- Hesap oluşturma formu -->
      <div id="hesapFormu" style="display: none">
        <h4>Hesap Oluştur</h4>
        <form action="/girisyap" method="POST">
          <input type="hidden" name="islem" value="yeni" />
          <input
            type="text"
            name="username"
            placeholder="Kullanıcı Adı"
            required
          /><br /><br />
          <input
            type="email"
            name="email"
            placeholder="Email Adresi"
            required
          /><br /><br />
          <input
            type="password"
            name="yeni_sifre"
            placeholder="Yeni Şifre"
            required
          /><br /><br />
          <input
            type="password"
            name="yeni_sifre_tekrar"
            placeholder="Yeni Şifre Tekrar"
            required
          /><br /><br />
          <button type="submit">Hesap Oluştur</button>
        </form>
      </div>
    </div>

    <script>
      const kullaniciBtn = document.getElementById("kullaniciGirisBtn");
      const adminBtn = document.getElementById("adminGirisBtn");
      const hesapBtn = document.getElementById("hesapAcBtn");

      kullaniciBtn.onclick = () => {
        document.getElementById("kullaniciGirisFormu").style.display = "block";
        document.getElementById("adminGirisFormu").style.display = "none";
        document.getElementById("hesapFormu").style.display = "none";
      };

      adminBtn.onclick = () => {
        document.getElementById("kullaniciGirisFormu").style.display = "none";
        document.getElementById("adminGirisFormu").style.display = "block";
        document.getElementById("hesapFormu").style.display = "none";
      };

      hesapBtn.onclick = () => {
        document.getElementById("kullaniciGirisFormu").style.display = "none";
        document.getElementById("adminGirisFormu").style.display = "none";
        document.getElementById("hesapFormu").style.display = "block";
      };
    </script>
  </body>
</html>
